:root {
        --ic-brand-primary-darkened-5: #02264D;
--ic-brand-primary-darkened-10: #022449;
--ic-brand-primary-darkened-15: #022245;
--ic-brand-primary-lightened-5: #0E3259;
--ic-brand-primary-lightened-10: #1B3D62;
--ic-brand-primary-lightened-15: #27486B;
--ic-brand-button--primary-bgd-darkened-5: #02264D;
--ic-brand-button--primary-bgd-darkened-15: #022245;
--ic-brand-button--secondary-bgd-darkened-5: #F3B600;
--ic-brand-button--secondary-bgd-darkened-15: #D9A300;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-28: #787878;
--ic-link-color-darkened-10: #305278;
--ic-link-color-lightened-10: #496B91;
--ic-brand-primary: #022851;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #355B85;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #FFBF00;
--ic-brand-button--secondary-text: #022851;
--ic-brand-global-nav-bgd: #022851;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #022851;
--ic-brand-global-nav-avatar-border: #FFBF00;
--ic-brand-global-nav-menu-item__badge-bgd: #FFBF00;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #022851;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #022851;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701531/uc-davis.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701535/uc-davis.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701532/uc-davis.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701533/uc-davis.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701534/uc-davis.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701536/ucd.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/701537/ucdavis.png');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }